:root {
  --primary: #ec9b3b;
  --secondary: whitesmoke;
  --dark: #293462;
  --light: #ffe1b3;
  --card: #a6d1e6;
}
body {
  background-color: var(--secondary);
}
.courses-section,
.about-section,
.success-stories,
.trusted-company {
  background-color: white;
}
.navbar {
  background-color: var(--dark);
}
/* carousel  */
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}
/* .carousel-caption {
  bottom: 20%;
} */
.carousel-container {
  margin-top: 2.4rem;
}
.carousel-caption {
  bottom: 0;
  right: 0;
}
.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 1rem;
}

.card-item:hover,
.students-container:hover {
  background-color: var(--primary);
  font-weight: bold;
  transition: 1s;
  transform: scale(1.05, 1.05);
}
.join-section {
  margin-bottom: 1rem;
  padding: 6rem 2rem;
  background-color: var(--light);
}

.students-container {
  background-color: var(--light);
}

.feedback-img {
  width: 50px;
  height: 50px;
}
.quotation h1,
.quotation p {
  color: rgb(104, 104, 104);
  font-family: "Times New Roman", Times, serif;
}
.quotation svg {
  width: 1rem;
  color: var(--primary);
}
footer {
  background-color: var(--dark);
  padding: 4rem 0;
  color: white;
}
footer h1 {
  color: var(--primary);
}
.social-icons {
  display: flex;
  gap: 20px;
}
.feedback-one,
.feedback-two {
  position: relative;
}

.fa-circle-chevron-left {
  display: block;
  position: absolute;
  left: -14px;
  top: 50%;
  font-size: 2rem;
}
.fa-circle-chevron-right {
  display: block;
  position: absolute;
  right: -14px;
  top: 50%;
  font-size: 2rem;
}
